build/
*.exe
*.dll
*.so
*.o
*.obj
*.pdb
*.lib
*.exp
*.bin
*.bat
__pycache__/
*.pyc
*.lzma
*.xz
flop_solutions/
blueprint_unified/
blueprint_data/
data/
# S3 mirror files we edit locally for upload
src/mccfr_blueprint_s3.c
src/mccfr_blueprint_s3.h
.vscode/
.idea/
*.log
blueprint_output/
/tmp/
